[submodule "gtm-monitoring-core"]
	path = templates/gtm-monitoring-core
	url = https://github.com/getelevar/gtm-monitoring-core.git
[submodule "gtm-monitoring-variables"]
	path = templates/gtm-monitoring-variables
	url = https://github.com/getelevar/gtm-monitoring-variables.git
[submodule "templates/gtm-monitoring-tag-info"]
	path = templates/gtm-monitoring-tag-info
	url = https://github.com/getelevar/gtm-monitoring-tag-info
